appdirs==1.4.4
astroid==2.5.3
attrs==20.3.0
autopep8==1.5.5
blessed==1.17.6
botocore==1.20.50
certifi==2020.12.5
chalice==1.22.3
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cors==1.0.1
cssselect==1.1.0
distlib==0.3.1
EasyProcess==0.3
filelock==3.0.12
flake8==3.8.4
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
idna==2.10
inquirer==2.7.0
isort==5.8.0
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
msgpack==1.0.2
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
numpy==1.20.2
parso==0.7.1
pipenv==2020.11.15
pluggy==1.0.0
protobuf==3.15.8
pycodestyle==2.6.0
pydocstyle==6.1.1
pyflakes==2.2.0
pylint==2.7.4
pylint-flask-sqlalchemy==0.2.0
PyMySQL==1.0.2
pynvim==0.4.3
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
PyYAML==5.4.1
readchar==2.0.1
requests==2.25.1
requests-file==1.5.1
rope==0.19.0
selenium==3.141.0
semantic-version==2.8.5
six==1.15.0
snowballstemmer==2.1.0
SQLAlchemy==1.4.23
tldextract==3.1.2
toml==0.10.2
ujson==4.1.0
urllib3==1.26.4
virtualenv==20.4.4
virtualenv-clone==0.5.4
w3lib==1.22.0
wcwidth==0.2.5
websocket-client==0.58.0
Werkzeug==2.0.1
wrapt==1.12.1
yapf==0.31.0
yliveticker==0.2.9
zope.event==4.5.0
zope.interface==5.4.0
